	<div></div>
	<div style="margin:20px auto; bottom: 0;"><a href="/campgrounds" class="btn btn-lg btn-info"> Home </a></div>
	<p class="badge badge-secondary" style="margin:20px auto">The YelpCamp Project</p>
	</div>
			<!-- jQuery CDN    but this is not necessary -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>

		<!-- Bootstrap JS CDN -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		
</body>
</html>